html {
    position: relative;
    min-height: 100%;
}

body {
	margin-bottom: 45px;
	background-color: rgb(197, 194, 194);
}

.card-header {
    background-color: rgb(66, 65, 65);
    color: #fff;
}

h1 {
	color: white;

}
